* {
  margin: 0;
  padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row
}

.scroll-lock {
  height: 100vh;
  overflow: hidden;
}

.page-transition-wrapper {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.page-transition-wrapper-exit,
.page-transition-wrapper-enter {
  opacity: 0;
}
